<%= link_to "Change billing details", resubscribe_subscriber_url(@current_subscriber), class: "js-form-link bold reset-button mr2 green", :'data-form-id' => "change-billing-details-form" %>

<%= form_tag "/", method: :put, id: "change-billing-details-form", style: "#{'display: none'}", class: "js-form mt4" do %>

  <% if auth_method != :card %>
    <p>To change billing details, please verify your credit card info:</p>

    <div class="row verification">
      <div class="col">
        <%= label :exp_month, "Credit card expiration", class: "small bold block mb1" %>
        <div class="select-container mb1 mr1 left">
          <%= select_tag 'donor_verification[exp_month]', options_for_select((1..12).to_a) %>
        </div>
        <div class="select-container mb1 mr1 left">
          <%= select_tag 'donor_verification[exp_year]', options_for_select((Time.zone.now.year..10.years.from_now.year)) %>
        </div>
      </div>
      <div class="col col-6 mobile-clear">
        <%= label :last_4, "Last four digits", class: "small bold block mb1" %>
        <%= text_field_tag 'donor_verification[last_4]', nil, placeholder: "Last 4 Digits", style: "width: 140px;", :autocomplete => "off" %>
        <a class="ss-icon ss-help tooltip relative" title="<div style='width: 300px'>The last 4 digits of the credit card you used for #{CONFIG[:name]}.</div>"></a>
      </div>
    </div>
  <% end %>

  <p class="error"></p>

  <%= submit_tag "Continue", class: "button-solid button-green" %>

<% end %>
