<section class="table full-width full-height">
  <section class="centered table-cell align-middle">
    <div class="interior inline-block stripe_receipt__text">

      <h2>Hi<%= ", #{@donor.subscriber.name.given_name}" if @donor.subscriber.name.present? %>!</h2>

      <p>On behalf of your favorite charities and <%= CONFIG[:name] %>, we thank you for your generous support!</p>

      <p>Your donation is being made to <%= CONFIG[:name] %>, a 501(c)(3) public charity (tax ID <%= CONFIG[:ein] %>), which processes donations made through <%= CONFIG[:name] %> and distributes them to a list of pre-determined charities. All donations are final and may not be refunded.</p>

      <p>Thank you again for visiting <%= CONFIG[:name] %>!</p>

      <h2>Donation Record</h2>

      <p>Your contribution is tax-deductible to the extent allowed by law. This email certifies that you have made this donation as a charitable contribution and you are not receiving any goods or services in return. You may save or print this receipt for your records. You may view a full list of your donations to date on your <%= link_to "your account page", email_login_subscriber_url(@subscriber, @subscriber.auth_token), style: "color: #999" %>.</p>

      <ul>
        <li><strong>Name:</strong> <%= @donor.subscriber.name %></li>
        <li><strong>E-mail:</strong> <%= @donor.subscriber.email %></li>
        <li><strong>Total Donation Amount:</strong> $<%= '%.02f' % @donation.total %></li>
        <li><strong>Organization:</strong>  <%= CONFIG[:name]%></li>
        <li><strong>Address:</strong>  <%= CONFIG[:address] %></li>
        <li><strong>Method of Payment:</strong> <%= @charge.source.brand %></li>
        <li><strong>Credit Card Last 4 Digits:</strong> <%= @charge.source.last4 %></li>
        <li><strong>Date:</strong> <%= @donation.executed_at.strftime '%A, %B %e, %Y' %></li>
        <li><strong>Time:</strong> <%= @donation.executed_at.strftime '%H:%M %Z' %></li>
        <li><strong>Reference Number:</strong> <%= '%08d' % @donation.id %></li>
        <li><strong>Authorization:</strong> Accepted</li>
      </ul>

    </div>
  </section>
</section>
