<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="<%= content_for(:html_classes) %>">
<head>
  <%# Head %>
  <%= render "layouts/partials/head" %>
  <%# Extra Head %>
  <%= yield :extra_head %>
</head>
<body id="<%= page_id %>" class="<%= @theme %><% if current_user.try(:is_admin?) %> admin<% end %> max-width-wrapper bg-grey-light full-height">

  <%# 3rd Party Scripts %>
  <%= render "layouts/partials/scripts" %>

  <%# Admin? %>
  <%= render "layouts/partials/admin_bar" if current_user.try(:is_admin?) %>

  <%# Page header %>
  <%= render "layouts/partials/header" unless @hide_header %>

  <%# Notice/Error %>
  <% if flash[:notice].present? %><p class="flash"><%= flash[:notice] %></p><% end -%>
  <% if flash[:alert].present? %><p class="alert"><%= flash[:alert] %></p> <% end -%>

  <%# Content %>
  <%= yield %>

  <%# Footer %>
  <%= render "layouts/partials/footer" unless @hide_footer %>

  <%# Extra JS %>
  <%= yield :javascripts %>
</body>
</html>
